.home-container {
    display: flex;
    flex-direction: row;
    
}

.home-buttons-container {
    display: flex;
    flex-direction: column;
     position: fixed;
    left: 5%;
    right: 10%;
    top: 45%;
    width: 10%
    
}

#page-wrap {
  text-align: center;
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

.text-input-field {
    padding: 24px 12px;
    border-radius: 7px;
    font-size: 24px;
}

li {list-style-type: none;}

.text-input-field:focus {
    outline: none;
}

